*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
   font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background: #f7f7f7;
    color: #000;

}
.main-header{
    margin: 0;
    background: url(img/IMG_8755.JPG);
    background-position: top;
    max-width:100% ;
    background-size: cover;
    height: 700px;
}
.navbar{
    background: linear-gradient(to top,navy,transparent);
    padding:15px;
    display: flex;
    align-items: center;
    margin: 0;
    justify-content: space-between;
}
.main-header h1{
    float: left;
    font-size: 22px;
    font-style: normal;
    letter-spacing: 5px;
    font-weight: 300;
    display: inline-block;
    color:transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(to bottom,gold,white);
    margin: 0;
}
.navbar ul{
    display: inline-flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.navbar ul li{
    margin:0 15px;
   

}
.navbar ul li a{
    text-decoration: none;
    font-size: 17px;
    color: gold;
}
.heading-content{
    position: absolute;
    top:30%;
    left: 37%;
    text-align: center;
}
.heading-primary{
    margin-bottom: 20px;
}
.heading-primary-main{
    display:block;
    letter-spacing: 5px;
    font-size: 60px;
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(to bottom,goldenrod,white);
}
.heading-primary-sub{
    display: block;
    letter-spacing: 10px;
    font-size: 40px;
    font-weight: 100;
    color:transparent;
    text-transform: capitalize;
    -webkit-background-clip: text;
    background-image: linear-gradient(to bottom,gold,transparent);
}
.heading-content a{
    text-decoration: none;
    background: linear-gradient(to right, orange,red);
    padding:15px;
    color:black;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 1px solid gold;
    border-radius: 5px;
}
.main-section{
    background-image: linear-gradient(to right,goldenrod,transparent);
    margin: 0;
    padding:20px;
}
.main-section h2{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 5px;
    color:transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right,black,white);
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 100;
}
.main-section ul{
    display: flex;
    margin: 0;
    list-style: none;

}
.main-section ul li{
    margin: 0 10px;
}

.images{
    display: block;
    width:100%;
    height: auto;

}
.box{
    color: burlywood;
    border: 1px solid goldenrod;
    border-radius: 10px;
    background-image: linear-gradient(to bottom,black, transparent);
    text-align: center;
    padding: 5px;
}
.box:hover{
    border: 1px solid gold;
    border-radius: 10px;
}
.box h3{
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 2px;
    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(to bottom,gold,black);  
    font-size: 30px;
}
.box p{
    font-size: 27px;
    color:black;
}
.box a{
    text-decoration: none;
    color: black;
    background:burlywood;
    border:1px solid burlywood;
    border-radius: 10px;
    padding:13px;
    display: inline-block;
    margin-bottom: 5px;
}
.about-section{
    background:gray;
    padding:10px;
    margin: 0;
}
.about-section h2{
    text-align: center;
    letter-spacing: 5px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    color: black;
    font-weight: 300;
}
.about-section p{
    display: block;
    text-align: center;
    color: white;

}
.newsletter{
    padding:15px;
    background-image: linear-gradient(to right,goldenrod,transparent);
    margin: 0;
    height: 150px;
    

}
.newsletter h3{
     margin: 0;
    text-align: center;
    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(to bottom,black,transparent);
    font-size: 25px;
    text-transform:uppercase ;
    letter-spacing: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    padding: 5px;
}
.forms{
    position:absolute;
    left:43%;
}
.forms input[type='text']{
    padding:10px;
    text-align: center;
    color:black;
    border:1px solid black;
    border-radius: 7px;

}
.forms input[type = "submit"]{
    background: linear-gradient(to bottom,gold,black);
    padding:10px;
    color:white;
    border:1px solid transparent;
    border-radius: 8px;
}
.languages{
    background:grey;
    text-align: center;
    padding:19px;
    margin:0;
}
.languages select{
    padding:10px;
    text-align:center;
    background:transparent;
    color:white;
}
.footer{
    background: black;
    padding:20px;
    text-align: center;
    font-size: 16px;
    color: white;
}
/* Responsive layout using media queries*/
@media(max-width:500px){
   .main-header{
       max-width: 100%;
       background-position: top;
       height:370.5px;
       margin:0;
   } 
   .navbar{
       padding:7.5px;
   }
   .navbar ul{
       flex-direction: column;
       position: fixed;
       background-image: linear-gradient(to right,black,transparent);
       top:80px;
       left:10%;
       width:80%;
       margin:0;
       text-align: center;
       transform:translateX(120deg);

   }
   .navbar ul li{
       margin:15px;
   }
   .heading-content{
       position:absolute;
       left: 20%;
       top:20%;
   }
   .heading-primary-main{
       font-size: 30px;
   }
   .heading-primary-sub{
       font-size:20px;
   }
   .heading-content a{
       transform: scaleX(0.5) scaleY(0.5);
       font-size: 11px;
       padding:9px;
       letter-spacing: 0;
   }
   .main-section h2{
       font-size: 25px;
       
   }
   .main-section ul{
       flex-direction: column;
       margin: 0;
       width:80%;
       left:20%;
   }
   .main-section ul li{
       margin:15px;
   }
   .about-section{
       margin:0;
   }
   .about-section h2{
    font-size: 22px;
   }
   .about-section p{
       font-size: 14px;
   }
   .newsletter h3{
       font-size: 22px;

   }
   .forms{
       position: absolute;
       left:20%;
       
   }
   .forms input[type ="text"]{
        padding:5px;
   }
   .forms input[type = "submit"]{
       transform:scale(0.8);
   }
   .footer{
       font-size: 14px;
   }
   }
   @media(max-width:600px){
    .main-header{
        max-width: 100%;
        background-position: top;
        height:370.5px;
        margin:0;
    } 
    .navbar{
        padding:7.5px;
    }
    .navbar ul{
        flex-direction: column;
        position: fixed;
        background-image: linear-gradient(to right,black,transparent);
        top:80px;
        left:10%;
        width:80%;
        margin:0;
        text-align: center;
        transform:translateX(120deg);
 
    }
    .navbar ul li{
        margin:15px;
    }
    .heading-content{
        position:absolute;
        left: 20%;
        top:20%;
    }
    .heading-primary-main{
        font-size: 30px;
    }
    .heading-primary-sub{
        font-size:20px;
    }
    .heading-content a{
        transform: scaleX(0.5) scaleY(0.5);
        font-size: 11px;
        padding:9px;
        letter-spacing: 0;
    }
    .main-section h2{
        font-size: 25px;
        
    }
    .main-section ul{
        flex-direction: column;
        margin: 0;
        width:80%;
        left:20%;
    }
    .main-section ul li{
        margin:15px;
    }
    .about-section{
        margin:0;
    }
    .about-section h2{
     font-size: 22px;
    }
    .about-section p{
        font-size: 14px;
    }
    .newsletter h3{
        font-size: 22px;
 
    }
    .forms{
        position: absolute;
        left:20%;
        
    }
    .forms input[type ="text"]{
         padding:5px;
    }
    .forms input[type = "submit"]{
        transform:scale(0.8);
    }
    .footer{
        font-size: 14px;
    }
   }
   @media(max-width:700px){
    .main-header{
        max-width: 100%;
        background-position: top;
        height:370.5px;
        margin:0;
    } 
    .navbar{
        padding:7.5px;
    }
    .navbar ul{
        flex-direction: column;
        position: fixed;
        background-image: linear-gradient(to right,black,transparent);
        top:80px;
        left:10%;
        width:80%;
        margin:0;
        text-align: center;
        transform:translateX(120deg);
 
    }
    .navbar ul li{
        margin:15px;
    }
    .heading-content{
        position:absolute;
        left: 20%;
        top:20%;
    }
    .heading-primary-main{
        font-size: 30px;
    }
    .heading-primary-sub{
        font-size:20px;
    }
    .heading-content a{
        transform: scaleX(0.5) scaleY(0.5);
        font-size: 11px;
        padding:9px;
        letter-spacing: 0;
    }
    .main-section h2{
        font-size: 25px;
        
    }
    .main-section ul{
        flex-direction: column;
        margin: 0;
        width:80%;
        left:20%;
    }
    .main-section ul li{
        margin:15px;
    }
    .about-section{
        margin:0;
    }
    .about-section h2{
     font-size: 22px;
    }
    .about-section p{
        font-size: 14px;
    }
    .newsletter h3{
        font-size: 22px;
 
    }
    .forms{
        position: absolute;
        left:20%;
        
    }
    .forms input[type ="text"]{
         padding:5px;
    }
    .forms input[type = "submit"]{
        transform:scale(0.8);
    }
    .footer{
        font-size: 14px;
    }
   }